@font-face{
    font-family:'Product Sans';
    src: url("../accerts/fonts/Product\ Sans\ Regular.ttf");
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family:'Product Sans',sans-serif;
    background: #f7faf7;
    /* color: ; */
}


 /* Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: #2E7D32;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

.title{
    display: flex;
    align-items: center;
    gap: 15px;
}
.logo-container img{
    width: 50px;
    height: 50px;
    border-radius: 50%
}

.title h2{
    color: white;
    font-size: 32px;
    margin: 0;
}

nav{
    display: flex;
    gap: 30px;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
}
nav a:hover{
    color: #FFD54F;
}


/*  Common Section For all */
section{
    padding: 50px 8px;
}
section h1{
    text-align:center;
    font-size:70px;
    color:white;
    margin:0px 0px 40px 0px;
}
section h2{
    text-align:center;
    font-size:42px;
    color:#1B5E20;
    margin:0px 0px 30px 0px;
}
.section-text{
    text-align:center;
    max-width:850px;
    margin:auto;
    color:#666;
    font-size:18px;
    line-height:1.8;
    margin-bottom:40px;
}
.section h2{
    text-align:center;
    margin-bottom:60px;
}
.section text{
    font-size:42px;
    color:#1B5E20;
    margin-bottom:15px;
}
.section p{
    font-size:20px;
    color:#666;
    max-width:800px;
    margin:auto;
    line-height:1.8;
}

/* Hero Content */
.hero{
    height:80vh;
    background:linear-gradient(rgba(0,0,0,.45),rgba(0,0,0,.45)),url("../accerts/images/farmingsm/bg_image.avif");
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:#fff;
}
.hero-content{
    max-width: 900px;
}
.hero-content h2{
    font-size: 68px;
    margin-bottom: 24px;
    font-weight: 700;
}
.hero-content p{
    font-size:24px;
    line-height:1.8;
    margin-bottom:40px;
}
.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}
.primary-button,.secondary-button {
    display: inline-block;
    padding: 18px 45px;
    text-decoration: none;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.35s ease;
}
.primary-button,.secondary-button {
    background: #43A047;
    color: #fff;
}
.primary-button:hover {
    background: #1B5E20;
    transform: translateY(-4px);
}

/*   Search Section   */
.search-section {
    background: #ffffff;
    padding: 60px 8%;
    text-align: center;
}

.search-section h2 {
    font-size: 40px;
    margin-bottom: 19px;
}

.search-section p {
    font-size: 18px;
    color: #666;
    margin-bottom: 22px;
}

.search-box {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 60px;
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(0,0,0,.10);
}

.search-box input{
    flex: 1;
    border: none;
    outline: none;
    padding: 20px 30px;
    font-size: 20px;
    background: transparent;
}
.search-box select {
    flex: 1;
    text-align: right;
    border: none;
    outline: none;
    padding: 20px 20px;
    font-size: 18px;
    background: transparent;
}

.search-box select {
    cursor: pointer;
}

.search-box button {
    border: none;
    padding: 20px 10px;
    margin-left: 20px;
    background: #43A047;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.search-box button:hover {
    background: #1B5E20;
}

/*   Categories   */
.category-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;
}
.category-card{
    background-color: white;
    border-radius: 20px;
    padding: 50px 30px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 10px 30px rgba(122,163,89,0.08);
    transition: .3s;
}
.category-card:hover{
    transform:translateY(-12px);
    box-shadow:0 18px 40px rgba(0,0,0,.18);
}
.category-icon{
    width:90px;
    height:90px;
    margin:auto;
    border-radius:50%;
    background:#E8F5E9;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:60px;
    margin-bottom:16px;
}
.category-card h3{
    color:#2E7D32;
    font-size:28px;
    margin-bottom:10px;
}

.category-card p{
    color:black;
    line-height:1.8;
    font-size:20px;
}

.featured-products,
.vegetables,
.fruits,
.flowers,
.dairy_products,
.leaf_powder,
.leaf_vegetables
.grains_seeds{
    text-align:center;
    padding:30px 20px;
}

.featured-products h2 {
    font-size: 40px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #2E7D32;
}

.section-text {
    font-size: 18px;
    color: #555;
    margin-bottom: 40px;
}

.product-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.product-card {
    position: relative;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    padding: 5px;
    width: 300px;
    text-align: left;
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-10px);
}

.product-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 5px;
}

.badge,.organic {
    position: absolute;
    top: 8px;
    padding: 3px 8px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}
.badge{
    background: #43A047;
    color: #fff;
    left: 8px;
}
.organic{
    background: #E53935;
    color: #fff;
    right: 8px;
}

.wishlist {
    position: absolute;
    top: 35px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #E53935;
}

.product-card h3 {
    font-size: 24px;
    margin-bottom: 3px;
    color: #333;
}

.farmer, .location, .stock {
    font-size: 11px;
    color: #666;
    margin-bottom: 3px;
}

.rating {
    font-size: 11px;
    margin-bottom: 8px;
    color: #FFD700;
}

.price {
    margin-bottom: 10px;
}

.new-price {
    font-size: 22px;
    font-weight: bold;
    color: #2E7D32;
    margin-right: 15px;
}

.old-price {
    font-size: 18px;
    color: #999;
    text-decoration: line-through;
}
.stock,.delivery{
    font-size: 15px;
    margin-bottom: 3px;
}
.delivery{
    font-weight: bold;
}

.quantity {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.quantity button {
    background: #eee;
    background-color: #43A047;
    border: none;
    padding: 5px 12px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.cart-button, .buy-button {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.cart-button {
    background: #43A047;
    color: #fff;
}

.cart-button:hover {
    background: #1B5E20;
}

.buy-button {
    background: #FF9800;
    color: #fff;
}

.buy-button:hover {
    background: #E65100;
}

/*    FOOTER     */
.footer{
    width:100%;
    background:#232f3e;
    color:#ffffff;
    font-family:Arial,Helvetica,sans-serif;
    margin-top: 2px;
}

.back-top{
    background:#37475a;
    text-align:center;
    padding:18px;
    transition:.3s;
}
.back-top:hover{
    background:#44566d;
}
.back-top a{
    color:#fff;
    text-decoration:none;
    font-size:15px;
    font-weight:600px;
}

.footer-top{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    flex-wrap:wrap;
    gap:90px;
    padding:55px 40px;
    border-bottom:1px solid rgba(255,255,255,.12);
}
.footer-column{
    min-width:220px;
}
.footer-column h3{
    margin-bottom:20px;
    font-size:20px;
    color:#ffffff;
}
.footer-column a{
    display:block;
    color:#dddddd;
    text-decoration:none;
    margin-bottom:14px;
    font-size:16px;
    transition:.3s;
}
.footer-column a:hover{
    color:#8BC34A;
    padding-left:8px;
}

.footer-middle{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:18px;
    padding:30px;
    border-bottom:1px solid rgba(255,255,255,.12);
}
.footer-logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.footer-buttons{
    display:flex;
    gap:15px;
    align-items: center;
}
.language-select{
    background:transparent;
    color:#fff;
    border:1px solid #777;
    padding:12px 0px;
    border-radius:4px;
    font-size:15px;
    cursor:pointer;
    outline:none;
    min-width:180px;
}
.language-select:hover{
    border-color:#8BC34A;
}
.language-select option{
    background:#232f3e;
    color:#fff;
}
.country-btn img {
  width: 28px;
  height: auto;
}

.country-btn{
    display:flex;
    align-items:center;
    gap:10px;
    background:transparent;
    border:1px solid #777;
    color:#fff;
    padding:10px 18px;
    border-radius:4px;
    cursor:pointer;
    font-size:15px;
    transition:.3s;
}

.footer-bottom{
    background:#131A22;
    padding:45px 40px;
}

.footer-links{
    text-align:center;
    margin-top:40px;
}
.footer-links a{
    color:#dddddd;
    text-decoration:none;
    margin:0 18px;
    font-size:15px;
    transition:.3s;
}
.footer-links a:hover{
    color:#8BC34A;
}

.copyright{
    text-align:center;
    color:#bfbfbf;
    margin-top:18px;
    font-size:15px;
    line-height:1.8;
}


/*           Mobile           */
@media screen and (min-width:360px) and (max-width:800px){

header{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:13px 0px;
    gap:10px;
}

.title{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:12px;
}

.logo-container img{
    width:40px;
    height:40px;
}

.title h2{
    font-size:32px;
    text-align:center;
    color: whitesmoke;
}

nav{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap: 0em;
}
nav a{
    font-size:17px;
    padding:8px 6px;
    text-decoration:none;
}

.hero{
    min-height:55vh;
    height:auto;
    padding:60px 20px;
}
.hero-content h1{
    font-size:30px;
}
.hero-content p{
    font-size:13px;
}
.search-section h2{
    font-size: 28px;
}
.search-box{
    display:flex;
    flex-direction:column;
    width:100%;
    border-radius:20px;
    overflow:hidden;
    padding:15px;
    gap:12px;
}
.search-box input,
.search-box select,
.search-box button{
    width:100%;
    padding:16px;
    font-size:16px;
    border-radius:10px;
}
.search-box select{
    text-align:left;
}
.search-box button{
    display:flex;
    justify-content:center;
    align-items:center;
}

.categories h2{
    font-size: 28px;
}
.categories p{
    font-size: 13px;
}
.category-container{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:15px;
}
.category-card{
    padding:20px 10px;
    border-radius:15px;
}
.category-icon{
    width:70px;
    height:70px;
    font-size:40px;
    margin-bottom:12px;
}
/*  */
/*  */
.category-card h3{
    font-size:18px;
    margin-bottom:8px;
}
.category-card p{
    font-size:13px;
    line-height:1.5;
}
/*  */
/*  */
.featured-products{
    padding:0px 15px;
}
.featured-products h2{
    font-size:28px;
    margin-bottom:15px;
}
.featured-products p{
    font-size:13px;
}
/* headings */
.vegetables h2{
    font-size: 28px;
}
.fruits h2{
    font-size: 28px;
}
.leaf_vegetables h2{
    font-size: 28px;
}
.flowers h2{
    font-size: 28px;
}.dairy_products h2{
    font-size: 28px;
}
.leaf_powder h2{
    font-size: 28px;
}
.grains_seeds h2{
    font-size: 28px;
}

/* pera */
.section-text{
    font-size:15px;
    line-height:1.6;
    margin-bottom:15px;
}

/* Two cards per row */
.product-container{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:15px;
}

/* Product Card */
.product-card{
    width:100%;
    padding:10px;
    border-radius:15px;
}

/* Product Image */
.product-card img{
    width:100%;
    height:120px;
    object-fit:cover;
    border-radius:10px;
}

/* Product Name */
.product-card h3{
    font-size:20px;
    margin:8px 0;
}

/* Farmer, Location, Rating */
.farmer,
.location,
.rating,
.stock,
.delivery{
    font-size:11px;
    line-height:1.4;
}

/* Price */
.new-price{
    font-size:16px;
}
.old-price{
    font-size:13px;
}

/* Discount & Organic */
.badge,
.organic{
    font-size:9px;
    padding:3px 5px;
}

/* Wishlist */
.wishlist{
    font-size:16px;
    top:28px;
    right:8px;
}

/* Quantity */
.quantity{
    justify-content:center;
    gap:6px;
    margin:10px 0;
}
.quantity button{
    width:28px;
    height:28px;
    padding:0;
    font-size:18px;
}
.quantity span{
    font-size:15px;
}

/* Buttons */
.buttons{
    display:flex;
    flex-direction:column;
    gap:8px;
}
.cart-button,
.buy-button{
    width:100%;
    padding:8px;
    font-size:13px;
}

.footer-top{
    flex-direction:column;
    align-items:center;
    text-align:center;
}
.footer-column{
    width:100%;
}
.footer-column a:hover{
    padding-left:0;
}
.footer-middle{
    flex-direction:column;
    gap:18px;
}
.language-select,
.country-btn{
    width:100px;
}
.footer-links{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    /* gap:15px; */
}
.footer-links a{
    margin:0;
}

}